*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{    
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.game-board{
    display: block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(81, 169, 241),rgb(192, 246, 250));
    width: 80%;
    height: 600px;
    border-bottom: 15px solid #292;
    margin: auto;
    animation: passagemDoDia 5s infinite linear;
}
@keyframes passagemDoDia {
    0%{
        background: linear-gradient(rgb(0, 0, 50),rgb(0, 0, 50));
    }
    10%{
        background: linear-gradient(rgb(0, 0, 50),rgb(0, 0, 50), rgb(25,25,75));
    }
    30%{
        background: linear-gradient(rgb(0, 0, 50), rgb(25,25,75),rgb(61, 61, 135));
    }
    50%{
        background: linear-gradient(rgb(25,25,75),rgb(64, 94, 216),rgb(83, 98, 233), rgb(118, 147, 242));
    }
    70%{
        background: linear-gradient(rgb(25,25,75),rgb(55, 88, 172),rgb(80, 148, 211), rgb(106, 175, 248));
    }
    90%{
        background: linear-gradient(rgb(61, 108, 236),rgb(72, 157, 255), rgb(74, 184, 247));
    }
}
#mario{
    position: absolute;
    bottom: 0;
    width: 170px;
    height: 150px;
}
#mario.pulo{
    animation: pular 0.6s linear;
}
#mario.pulo-duplo{
    animation: pular-alto 0.8s linear;
}
@keyframes pular{
    25% {
        bottom: 170px;
    }
    50% {
        bottom: 170px;
    }   
}
@keyframes pular-alto{
    0% {
        bottom: 170px;
    }
    15% {
        bottom: 250px;
    }
    25% {
        bottom: 320px;
    }
    50% {
        bottom: 320px;
    }   
}
.cano{
    position: absolute;
    bottom: 0;
    right: -50%;
    width: 100px;
    height: 100px;
    animation: movimento-cano 2s infinite linear;
    animation-delay: 2s;
}
@keyframes movimento-cano {
    from {
        right: -50%;
    }   
    to{
        right: 100%;
    }
}
.container-blocos{
    position: absolute;
    bottom: 220px;
    right: -20%;
    animation: movimento-blocos 4s infinite linear;
}
@keyframes movimento-blocos {   
    from {
        right: -150%;
    }   
    to{
        right: 150%;
    } 
}
.blocos{
    position: relative;
    background-color: black;
}
.bloco{
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 70px;
    right: 0;
}
.b1{
    right: 140px;
}
.b2{
    right: 70px;
}
.b3{
    right: 0;
}
#timer {
    position: absolute;
    top: 5px;
    right: 5px;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}